*{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
body{
    background-color: #000;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.899);
    height: 500px;
    width: 450px;
    border-radius: 10%;
    position: relative;
    box-shadow: 0 10px 25px rgb(135, 133, 133);
}
.changable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.starter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 10px;
    cursor: crosshair;
    overflow: hidden;
    align-self: center;
}
.box::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: -1;
    filter: blur(18px);
    transform: scale(0.95);
    background: radial-gradient(circle at 50% 40%, rgba(255,255,200,0.25), rgba(255,255,200,0.10) 40%, rgba(0,0,0,0) 70%);
}

.heading{
    display: flex;
    justify-content: center;
}
h1{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #f14aec;
}
.Btn-Container {
  display: flex;
  width: 170px;
  height: fit-content;
  background-color: #1d2129;
  border-radius: 40px;
  box-shadow: 0px 5px 10px #bebebe;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
}
.icon-Container {
  width: 45px;
  height: 45px;
  background-color: #f59aff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #1d2129;
}
.text {
  width: calc(170px - 45px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}
.icon-Container svg {
  transition-duration: 1.5s;
}
.Btn-Container:hover .icon-Container svg {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}
@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
#dot{
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f14aec;
  box-shadow: 0 0 10px rgba(241, 74, 236, 0.6);
  cursor: pointer;
}
.buto {
  display: block;
  margin: 0.5rem auto;
}
