body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;


}
p{

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

.container{
    background-color: aliceblue;
    height:450px;
    width: 450px;
    border-radius: 10%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.indicator{
    background-color: #6b6b6b;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    gap: 12px;
    height: 100px;
    width:300px;
}
.g{
    width: 80px;
    height: 80px;
    background-color: #d60000;
    border-radius: 50%;
    box-shadow: inset -6px -10px 0 0 rgba(0,0,0,0.25), inset 6px 10px 0 0 rgba(255,255,255,0.15);
    position: relative;
}

.records{
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 50ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(118, 87%, 25%) 0%,
    hsl(118, 39%, 49%) 8%,
    hsl(118, 39%, 39%) 92%,
    hsl(118, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(118, 53%, 58%);
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 50ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 25ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 10ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 25ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 10ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
.bto{
    background-color: #d60000;
}
