*{margin:0;
    padding:0;
}    
body {
    background-color: #fee440;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
.grandbox{
    height:80vmax;
    width: 80vmax;
    background-color: white;
    position: relative;
    z-index: 1;
}
.b{
    height:200px;
    width:200px;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
a:hover {
    text-decoration: underline;
}
a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}