*{margin:0;
    padding:0;
}    
body {
    background-color: #fee440;
  

}
h1{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.active{
    border: 2px solid #fee440;
    box-shadow: 0 0 7px 2px rgba(254, 228, 64, 0.8);
}
.randomize{
    z-index: 5;
    position: absolute;
    height:70px;
    width: 70px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:white;
    font-size: 12px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
p{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

}

.heading h1 {
    color: #fff700;
    margin: 0;
}
.idk{
    color: white;

}
.grandbox{
    height: 37rem;
    width: 37rem;
    background-color: black;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    z-index: 1;
    border-radius: 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}
.grandbox img {
    border-radius: 10px;
    display: block;
}
.b{
    background-color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10%;
    overflow: hidden;
}
body{
    background-color: black;
}
