body {
  margin: 0;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;


  color: #000000;
}

.container {
  width: 90vw;
  max-width: 500px;
  min-height: 500px;
  background: #fff;;
  padding: 25px;
  border-radius: 10%;
  text-align: center;
  border: 2px solid green;
  box-shadow: 0 8px 30px rgba(0,0,0,0.8), 0 0 0 2px rgba(255,214,10,0.15);
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  gap: 12px;
}

h1 {
  margin-bottom: 15px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;


}

.sentence {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  line-height: 1.6;
  border-left: 4px solid green;
  color: #fff;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

textarea {
  width: 100%;
  height: 110px;
  font-size: 16px;

  border-radius: 12px;
  border: 2px solid green;
  outline: none;
  resize: none;
  color: #000000;
  background: #fefefe;
  margin-right:0 ;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  grid-row: 3;
  align-self: center;
  justify-self: stretch;
  box-shadow: 0 0 0 0 rgba(255,214,10,0);
  transition: box-shadow .2s, border-color .2s, background .2s;
}

textarea:focus {
  box-shadow: 0 0 0 4px rgba(255,214,10,0.15);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  color: black;
  grid-row: 4;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: green;
  border: none;
  border-radius: 24px;
  color: #000;
  cursor: pointer;
  transition: filter .2s, transform .05s;
  grid-row: 5;
}

button:hover {
  background-color: greenyellow;
}

button:active {
  transform: translateY(1px);
}

.buto {
  display: block;
  justify-self: center;
  align-self: end;
  grid-row: 6;
  margin: 8px 0 0 0;
}
